# Use this file as a template to create development.env, test.env, staging.env and production.env files in this directory.
# To see which one will be used in each situation, check the scripts in package.json.

# Port for app to listen in localhost
PORT=3333

# JWT Secret key to sign tokens
JWT_SECRET_KEY=replace_this_for_something_long_and_random_and_do_not_share_it

# JWT token expiration period
JWT_EXPIRES_IN=8h

# TypeORM config
TYPEORM_CONNECTION = postgres
TYPEORM_HOST = localhost
TYPEORM_PORT = 5432
TYPEORM_USERNAME = postgres
TYPEORM_PASSWORD = dev
TYPEORM_DATABASE = gobarber-dev
TYPEORM_ENTITIES = ./src/models/*.ts
TYPEORM_ENTITIES_DIR = ./src/models
TYPEORM_MIGRATIONS = ./src/database/migrations/*.ts
TYPEORM_MIGRATIONS_DIR = ./src/database/migrations